body {
  margin: 0;
  color: #fff;
  background-color: black;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: white;
}
nav {
  width: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #222222;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center;
}
nav img {
  width: 100%;
  background-size: cover;
  vertical-align: middle;
}
nav .fa {
  display: inline-block;
  font-size: 36px;
  padding-top: 7px;
}
nav p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 13px;
  padding-bottom: 7px;
}
nav > a:first-of-type {
  width: 100%;
  background-color: black;
}
nav > a:first-of-type:hover {
  background-color: #cccccc;
  color: black;
}
nav .blackItem:hover {
  width: 100%;
  background-color: black;
}
.navbar-2 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navbar-2 a {
  width: 100%;
  display: inline-block;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 200;
}
.navbar-2 a:hover {
  background-color: #CCCCCC;
  color: black;
}
main {
  margin-left: 127px;
}
.wrapper {
  max-width: 900px;
  margin: 0 auto;
}
header {
  width: 100%;
  text-align: center;
}
header h1 {
  font-size: 64px;
  font-weight: 400;
  margin: 10px 0;
}
header p {
  font-size: 15px;
}
header img {
  width: 100%;
  background-size: cover;
}
.about {
  color: #757575;
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: justify;
}
.about hr {
  width: 200px;
  opacity: 0.6;
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}
.about p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 15px;
}
.about h2,
.about h3 {
  color: white;
}
.about h3 {
  letter-spacing: 2px;
  font-weight: normal;
}
.about .w3-wide {
  letter-spacing: 4px;
}
.about .w3-white {
  color: #000;
  background-color: #fff;
}
.about .w3-dark-grey {
  color: #fff;
  background-color: #616161;
}
.about .white-Row {
  color: black;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
}
.about .white-Row span {
  font-size: 20px;
}
.about .white-Row div {
  padding: 20px 0;
  text-align: center;
}
.about .button-1 {
  display: inline-block;
  cursor: pointer;
  color: black;
  background-color: #f1f1f1;
  padding: 12px 24px;
  border: none;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  margin: 16px 0;
  font-size: 15px;
}
.about .button-1:hover {
  background-color: #CCCCCC;
}
.about img {
  width: 80px;
  border-radius: 50%;
  border-style: none;
  vertical-align: middle;
  float: left;
  margin-right: 16px;
}
.about .w3-margin-right {
  margin-right: 16px;
  font-size: 18px;
  color: #757575;
  text-align: justify;
}
.myPrice {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 8px;
  color: black;
  text-align: center;
}
.myPrice .my-half {
  background-color: white;
  opacity: 65%;
}
.myPrice .my-half h2 {
  color: black;
}
.myPrice ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.myPrice ul li {
  padding: 8px 155px;
  border-bottom: 1px solid #ddd;
}
.myPrice .dark-Gray {
  padding-top: 32px;
  padding-bottom: 32px;
  color: #fff;
  background-color: #616161;
  font-size: 24px;
}
.myPrice .light-grey {
  border-bottom: none;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #f1f1f1;
  font-size: 20px;
}
.myPrice .button-2 {
  color: #000;
  background-color: #fff;
  padding: 12px 24px;
  border: none;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 4px;
  font-size: 15px;
  letter-spacing: 1px;
}
.myPrice .button-2:hover {
  color: white;
  background-color: black;
}
.myPrice .my-half:hover {
  opacity: 100%;
}
.portfolio {
  padding: 64px 0;
}
.portfolio section {
  margin: 0 -16px;
  padding: 0 8px;
  display: flex;
}
.portfolio section div {
  width: 100%;
  margin: 0;
  padding: 6px;
}
.portfolio h2 {
  color: #f1f1f1;
  font-weight: 400;
  margin: 10px 0;
  font-size: 30px;
}
.portfolio hr {
  width: 200px;
  opacity: 0.6;
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
.portfolio img {
  width: 100%;
  background-size: cover;
}
.contact {
  padding: 64px 0;
  color: #757575;
}
.contact div {
  margin: 16px 0;
  color: #757575;
}
.contact .fa {
  width: 1.28571429em;
  text-align: center;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  color: white;
  font-size: 36px;
  margin-right: 16px;
}
.contact h2 {
  color: #f1f1f1;
  font-weight: 400;
  margin: 10px 0;
  font-size: 30px;
}
.contact hr {
  width: 200px;
  opacity: 0.6;
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
.contact form > p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 15px;
}
.contact .w3-padding-16 {
  padding-top: 16px!important;
  padding-bottom: 16px!important;
}
.contact .w3-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.contact button {
  color: black;
  background-color: #f1f1f1;
  padding: 12px 24px;
  border: none;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}
.contact .button-3:hover {
  background-color: gray;
}
.contact .fa-paper-plane {
  color: black;
  font-size: 17px;
}
footer {
  color: #757575;
  padding: 64px 0;
}
footer .fa {
  display: inline-block;
  font-size: 22px;
}
footer .fa:hover {
  opacity: 50%;
  cursor: pointer;
}
footer .medium {
  font-size: 14px;
}
footer .medium a {
  color: #757575;
}
footer a:hover {
  color: lightgreen;
}
footer .Taron {
  color: lightgreen;
}
@media screen and (max-width: 768px) {
  .portfolio > section {
    flex-wrap: wrap;
  }
  .navbar-1 {
    display: none;
  }
  main {
    margin: 0;
  }
}
@media (max-width: 1600px) and (min-width: 768px) {
  .navbar-2 {
    display: none;
  }
}
